meta charset='UTF-8'

-# デスクリプションを不用意に変更されないようにする
meta content='NOYDIR' name='ROBOTS'
meta content='NOODP' name='ROBOTS'

-# モバイル設定
link media='handheld' rel='alternate'
meta name="viewport" content="width=device-width,initial-scale=1.0"

-# favicon
- set_meta_tags icon: '/favicon.png'

-# デフォルト設定
= display_meta_tags(default_meta_tags)

